body {
    font-family: 'Oranienbaum', serif !important;
}

@media (max-device-width: 500px) {
    .title {
        width: 100%;
    }
}

.header {
    background-color: rgb(29,29,29);
}

.collage{
    background-color: rgb(230,230,230);
}

.footer{
    background-color: rgb(29,29,29);
}

.responsive {
    width: 100%;
    height: auto;
}

#novelty:hover {
    background-image: url(../img/novelty1.jpg);
}